.card {
  background: #f5f5f6;
  border-radius: 3px;
  padding: 15px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}

.card-button {
  margin-top: 30px;
}

.card-button button {
  color: #333;
  background: #e2f1fc;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
}

.card-button button.btn-raised {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.card-button button:hover {
  background: #b8ddff;
  transition: background-color ease-in-out .25s;
}
