<div class="col">
  <div class="card shadow">
    <div class="name">{{ product.name }}</div>
    <div class="price">&#36;{{ product.price }}</div>
    <div class="card-button">
      <button class="btn btn-raised" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div>

</div>
