body {
  padding: 0;
  margin: 0;
  background: #e1e2e1;
}

.shadow {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2)
}

.container {
  margin: 0 40px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

button.btn {
  color: #333;
  background: #e2f1fc;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
}

button.btn.btn-raised {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

button.btn:hover {
  background: #b8ddff;
  transition: background-color ease-in-out .25s;
}
